$badge-size: 27px;
$badge-padding-horizontal: 10px;
$badge-border-radius: 0;
$badge-background: $custom-color-muted;
$badge-color: $global-color;
// $badge-font-size: $global-small-font-size;

$badge-hover-color: $badge-color;
