// Base
$base-body-background: $custom-color-muted;

// Typography
$base-heading-font-family: 'Montserrat', 'Lato', Arial, sans-serif;
$base-body-font-weight: 300;
$base-strong-font-weight: 900;
$base-heading-font-weight: 700;

$base-em-color: $global-color;

$base-blockquote-font-size: 1.06666667rem; // 16px
