// Hero
$heading-hero-font-size: 2.8rem; // 36px
$heading-hero-line-height: 1;
$heading-hero-font-size-s: 3.46666667rem; // 60px
$heading-hero-line-height-s: 1;
$heading-hero-font-size-m: $global-xxlarge-font-size; // 84px
$heading-hero-line-height-m: 1;

// Primary
$heading-primary-font-size: $global-small-font-size;
$heading-primary-line-height: 1;
$heading-primary-font-size-m: 1.6rem; // 24px
$heading-primary-line-height-m: 1;
