@mixin hook-heading-hero() {
	letter-spacing: -2.5px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .05);
	@media (min-width: $breakpoint-small) {
		letter-spacing: -4px;
	}
	@media (min-width: $breakpoint-medium) {
		letter-spacing: -5px;
	}
}

@mixin hook-heading-primary() {
	letter-spacing: 0;
}

@mixin hook-heading-misc() {
	.custom-hero-overlay {
		background: linear-gradient(90deg, rgba($custom-color-dark, 1) 5%, rgba($custom-color-dark, 0) 55%);
	}
}
