$nav-item-padding-vertical: 3px;
$nav-sublist-padding-vertical: 3px;

$nav-default-item-color: $global-color;
$nav-default-item-hover-color: $nav-default-item-color;
$nav-default-item-active-color: $nav-default-item-color;
$nav-default-sublist-item-color: $nav-default-item-color;
$nav-default-sublist-item-hover-color: $nav-default-item-color;
